<!DOCTYPE html>
<html>
  <head>
    <title> <%= content_for?(:title) ? yield(:title) : "Helpdesk" %></title>
    <%= csrf_meta_tags %>
    <meta name="action-cable-url" content="ws://helpdesk-nevidnichiy.c9users.io/cable"/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="helpdesk">
    <%= render 'nav' if current_user%>
    <% flash.each do |name, msg| %>
      <script>
        $.Notify({
          content: '<%= msg %>',
          type: '<%= name %>'
        });
      </script>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
