<!DOCTYPE html>
<html>
  <head>
    <title> <%= content_for?(:title) ? yield(:title) : "Helpdesk" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'nav' if current_user%>
    <% flash.each do |name, msg| %>
      <script>
        $.Notify({
          content: '<%= msg %>',
          type: '<%= name %>'
        });
      </script>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
